<div class="search-bar">
  <div class="section-search search-style-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <div class="clearfix">
            <form>
              <section class="container">
                <h3 class="carlist-name">{{carlist.name}}</h3>
                <section class="flex-row justify-center">
                  {{#each data as |cars|}}
                  {{!-- {{> car-details}} --}}
                  <h3>Make: {{cars.make}}</h3>
                  <h3>Model: {{cars.model}}</h3>
                  <h4>Class: {{cars.class}}</h4>

                  {{/each}}
                </section>
              </section>
            {{!-- </form> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
{{log 'This is my data' data}}
</div>